<ion-content class="background">

  <!-- <img src="assets/bacground.png"> -->

  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="dosomething($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpiner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <div class="row">

      <div class="col-8">
      <h6 style="color: #6863CC;margin-left: 65%;" class=" mt-4" ><b>BILLER</b></h6>
    </div> 

    <div *ngIf="onlineAlart" class="col-12 ion-text-right " style="margin-top:-25%">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_dsp2yB.json" background="transparent"
        speed="1.5" style="width:20%; margin-left: 80%;" loop autoplay></lottie-player>
      <!-- <p style="background-color: #6863CC;border-radius:10px;color:#fff;width: 50px;  margin-left: 50%;">Online</p> -->
    </div>

    <div *ngIf="offlineAlart" class="col-12 ion-text-right " style="margin-top:-25%">
      <!-- <p style="background-color: #6863CC;border-radius:10px;color:#fff;width: 50px;  margin-left: 50%;">Offline</p> -->
      <img style="width:20%; margin-left: 80%; border-radius: 55%;" src="assets/offline.gif" alt="">
    </div>

  </div>


     <div class="row ">
    <!-----Display Date----->

    <div class="date-card col-6 display-date mx-5 ">
      <p style="margin: 7px;" > <b>{{currentDateTime | date:'dd-MM-yyyy'}}</b> </p>
    </div>

    <div style="margin-top: -12%;"  class=" col-6 dropdown toggle ">
      <input id="t2" type="checkbox">
      <label for="t2">{{user}}</label>
      <ul>
       <li><a (click)="navigateToSettings()">Settings</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin-top: -35px;">
    <div class="col-12 ion-text-center">
      <button (click)="navigateToNextPage()" class="navigate-btn  mt-5"><b>Start Billing</b></button>
    </div>


    <div class="col-12 ion-text-center">
      <div class="weight-display" style="font-size: 16px;margin:7%;margin-top:3%">
        <p> Today's Total Weight  <b><br> {{totalweight}}</b> Kgs</p>
      </div>
    </div>

     <div class="col-12 ion-text-center">
      <div class="weight-display" style="font-size: 16px;margin:7%;margin-top:-3%">
        <p> Today's collected amount  <b><br> Rs.{{totalCost}}</b> /-</p>
      </div>
    </div>




    <!-----Table----->



    <table class="table">
      <thead style="background-color:#6863CC;" class="text-white">
        <tr>
          <th scope="col-3">User Id</th>
          <th scope="col-2">Quality</th>
          <th scope="col-2">Price/Kg</th>
          <th scope="col-2">Weight</th>
          <th scope="col-2">Total price </th>
        </tr>
      </thead>
      <tbody *ngFor="let record of tableRec  let i=index; ">
        <tr>
          <td>{{user}} </td>
          <td>{{record.quality}} </td>
          <td>{{record.pricekg}}</td>
          <td>{{record.weight}} </td>
          <td>{{record.totalamount}}</td>
        </tr>
        
      </tbody>
      <!-- <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><span style="color: #6863CC;">Total:</span> <br> {{sumofWeight}} </td>
        <td><span style="color: #6863CC;">Total:</span> <br> 254534153645 </td>
      </tr> -->
    </table>
    <!-- <div class="row">
      <div class="col-2"></div>
      <div style="font-size: 12px;" class="col-5"><span style="color: #6863CC;margin-left: 55px;">total:</span> <span style="font-size: 10px">1245</span></div>
      <div   style="font-size: 12px;" class="col-5"><span style="color: #6863CC;margin-left: 8px;">total:</span> <span style="font-size: 10px">1245</span></div>
     
    </div> -->

    <div class="row">
      <div *ngIf="isVisible" class=" col-12 ion-text-center mt-3 ">
        <lottie-player src="https://assets8.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
          background="transparent" speed="1.5" style="width:65%;margin:auto" loop autoplay></lottie-player>
        <h4 class="ion-text-center">No Records</h4>
      </div>

    </div>
  </div>



  <!-----card----->

  <h4 *ngIf="lastEntryisVisible" class="mx-3">Last Entry:</h4>

  <div style="font-size: 11px;">
    <div class="row mb-5">
      <div class="col-12">
        <div class="card mt-3" *ngFor="let record of displayCardDetails">
          <div class="row">
            <div class="col-5">
              <b style="color: #6863CC;"> Date </b> : {{record.date }}<br>
              <b style="color: #6863CC;"> Time </b> : {{record.time }}<br>

            </div>

            <div class="col-5">
              <b style="color: #6863CC;">Bill No </b> : {{record.bilid}}<br>
              <b style="color: #6863CC;">Total Amount</b> : <br> <span style="color: #6863CC;">Rs.</span>
              {{record.totalamount}} /-
            </div>
            <div class="col-2">
              <div class="dot mt-3">
                <svg (click)="delete(record.bilid)" [value]="record.bilid" style="margin: 10px;"
                  xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="#fff" class="bi bi-trash3"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M6.5 1a.5.5 0 0 0-.5.5v1h4v-1a.5.5 0 0 0-.5-.5h-3ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1H3.042l.846 10.58a1 1 0 0 0 .997.92h6.23a1 1 0 0 0 .997-.92l.846-10.58Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




</ion-content>