*{
    font-size: 14px;
}

table thead tr th {
    font-size:10px;
    border: 1px solid #b9b7e9;
}

table tbody tr td{
    font-size:10px;
    border: 1px solid #b9b7e9;
}

table,table.td{
    margin: 5px !important;
    width: 97% !important;
   
}